{{#
    @name Card link
    @desc The card link component.
    @param* external Whether the link is external or not.
#}}

<!-- /components/_card_link.antlers.html -->
<div
    class="absolute z-0 transition scale-95 opacity-0 -inset-y-6 -inset-x-4 bg-zinc-50 group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl">
</div>
<a href="{{ href }}" {{ if external }}
        target="_blank" 
        rel="nofollow"
    {{ /if }}>
    <span class="absolute z-20 -inset-y-6 -inset-x-4 sm:-inset-x-6 sm:rounded-2xl"></span>
    <span class="relative z-10">{{ slot }}</span>
</a>
<!-- End: /components/_card_link.antlers.html -->