{{#
    @name Card eyebrow
    @desc The card eyebrow component.
#}}

<!-- /components/_card_eyebrow.antlers.html -->
{{ decorateClass = decorate ? 'pl-3.5' : '' }}
<{{ as or 'p' }}
    class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 {{ class }} {{ decorateClass }}"
    {{ if dateTimeAttr }}
        dateTime="{{ dateTimeAttr }}"
    {{ /if }}>
    {{ if decorate }}
        <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
            <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
        </span>
    {{ /if }}
    {{ slot }}
</{{ as or 'p' }}>
<!-- End: /components/_card_eyebrow.antlers.html -->