{{#
    @name Project card
    @desc The project card component.
#}}

<!-- /components/_project_card.antlers.html -->
{{ partial:components/card as="li" }}
    <div class="flex flex-col flex-1">
        <div class="flex-1">
            <div
                class="relative z-10 flex items-center justify-center w-12 h-12 bg-white rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                {{ partial:components/picture :image="logo" class="w-8 h-8" }}
            </div>
            <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                {{ partial:components/card_link :href="href" :external="true" }}
                    {{ title }}
                {{ /partial:components/card_link }}
            </h2>
            {{ partial:components/card_description }}
                {{ description }}
            {{ /partial:components/card_description }}
        </div>
        <p
            class="relative z-10 flex mt-6 text-sm font-medium transition text-zinc-400 group-hover:text-sky-500 dark:text-zinc-200">
            {{# <LinkIcon class="flex-none w-6 h-6" /> #}}
            {{ svg src="link" class="w-6 h-6 " alt="" aria-hidden="true" }}
            <span class="ml-2">{{ linkLabel ?? 'Read more' }}</span>
        </p>
    </div>
{{ /partial:components/card }}
<!-- End: /components/_article_card.antlers.html -->