{{#
    @name Layout
    @desc The default layout file.
#}}

<!-- /layout.antlers.html -->
<!doctype html>
<html class="h-full antialiased" lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    {{ vite src="resources/css/site.css|resources/js/site.js" }}
    {{ partial:snippets/seo }}
    {{ partial:snippets/browser_appearance }}
</head>
<body class="flex flex-col h-full bg-zinc-50 dark:bg-black">
    {{ partial:snippets/noscript }}
    {{ partial:navigation/skip_to_content }}
    {{ partial:components/toolbar }}
    {{ yield:seo_body }}
    <div class="fixed inset-0 flex justify-center sm:px-8">
        <div class="flex w-full max-w-7xl lg:px-8">
            <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
        </div>
    </div>

    <div class="relative">
        {{ partial:layout/header }}
        {{ template_content }}
        {{ partial:layout/footer }}
    </div>
</body>
</html>
<!-- End: /layout.antlers.html -->