{{#
    @name Projects Index
    @desc The projects index template.
#}}

<!-- /projects/index.antlers.html -->
<main id="content">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
    {{ partial:layout/container class="mt-16 sm:mt-32" }}
        {{ collection:projects as="projects" }}
            <ul
                role="list"
                class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3">
                {{ if no_results }}
                    <li>No projects, yet.</li>
                {{ /if }}
                {{ projects }}
                    {{ partial:components/_project_card :title="title" :logo="project_logo" :href="project_link_url" :description="project_description" :linkLabel="project_link_label" }}
                {{ /projects }}
            </ul>
        {{ /collection:projects }}
    {{ /partial:layout/container }}
</main>