{{#
    @name Main desktop navigation
    @desc The sites main desktop navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_desktop.antlers.html -->
<nav class="hidden pointer-events-auto md:block" aria-label="{{ trans:strings.main_navigation }}">
    <ul
        class="flex px-3 text-sm font-medium rounded-full shadow-lg bg-white/90 text-zinc-800 shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
        {{ nav:main max_depth="1" include_home="true" select="title|url" }}
            <li
                {{ if children }}
                    x-data="{ subnavOpen: false }"
                    @keyup.escape.stop.prevent="subnavOpen = false"
                    @focusin.window="!$refs.subnav.contains($event.target) && (subnavOpen = false)"
                    x-cloak
                {{ /if }}>
                <a class="
                        relative block px-3 py-2 transition
                        {{ is_current || is_parent ? 'text-sky-500 dark:text-sky-400' : 'hover:text-sky-500 dark:hover:text-sky-400' }}
                        {{ children ? 'flex items-center space-x-1' : '' }}
                    "
                    {{ if children }}
                        href="#"
                        @click.prevent="subnavOpen = !subnavOpen"
                        :aria-label="subnavOpen
                            ? '{{ trans:strings.subnav_close }}'
                            : '{{ trans:strings.subnav_open }}'"
                        :aria-expanded="subnavOpen"
                    {{ else }}
                        href="{{ url }}"
                    {{ /if }}>
                    {{ title }}
                    {{ if children }}
                        <svg class="w-2 ml-1 overflow-visible stroke-current text-neutral"
                            :class="{ 'rotate-180': subnavOpen }" aria-hidden="true" stroke-width="16"
                            viewBox="0 0 140 140">
                            <path d="M135.625 42.648l-62.533 62.527a4.37 4.37 0 01-6.184 0L4.375 42.648" fill="none"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    {{ /if }}
                    {{ if is_current }}
                        <span
                            class="absolute h-px inset-x-1 -bottom-px bg-gradient-to-r from-sky-500/0 via-sky-500/40 to-sky-500/0 dark:from-sky-400/0 dark:via-sky-400/40 dark:to-sky-400/0"></span>
                    {{ /if }}
                </a>
                {{ if children }}
                    <ul x-show="subnavOpen" x-ref="subnav"
                        class="absolute right-0 px-3 py-2 mt-2 -ml-3 bg-white border rounded shadow border-neutral/10"
                        @click.outside="subnavOpen = false" x-transition>
                        {{ children }}
                            <li class="">
                                <a class="
                                        relative block px-3 py-2 transition
                                        {{ is_current || is_parent ? 'text-sky-500 dark:text-sky-400' : 'hover:text-sky-500 dark:hover:text-sky-400' }}
                                    " href="{{ url }}">
                                    {{ title }}
                                </a>
                            </li>
                        {{ /children }}
                    </ul>
                {{ /if }}
            </li>
        {{ /nav:main }}
    </ul>
</nav>
<!-- End: /navigation/_main_desktop.antlers.html -->