{{#
    @name About Me
    @desc The About Me page builder block.
    @set page.page_builder.about_me
#}}

<!-- /page_builder/_about_me.antlers.html -->
<section>
    {{ partial:layout/container class="mt-16 sm:mt-32" }}

        <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
            <div class="lg:pl-20">
                <div class="max-w-xs px-2.5 lg:max-w-none">
                    {{ partial:components/picture aspect_ratio="1/1" :image="photo" class="object-cover aspect-square rotate-3 rounded-2xl bg-zinc-100 dark:bg-zinc-800" sizes="(min-width: 1024px) 32rem, 20rem" }}
                </div>
            </div>

            <div class="lg:order-first lg:row-span-2">
                {{ title = block:heading ?? title }}
                {{ partial:typography/h1 :content="title" }}
                <div class="mt-6 text-base space-y-7 text-zinc-600 dark:text-zinc-400">
                    {{ content }}
                </div>
            </div>

            <div class="lg:pl-20">
                <ul role="list">
                    {{ social_media:social_media }}
                        <li class="flex {{ index !== 0 ? 'mt-4' : '' }}">
                            <a class="flex text-sm font-medium transition group text-zinc-800 hover:text-sky-500 dark:text-zinc-200 dark:hover:text-sky-500"
                                href="{{ prefix }}{{ handle }}"
                                rel="{{ type == 'mastodon' ? 'me' : 'noopener' }}" target="_blank">
                                {{ svg :src="type" class="flex-none w-6 h-6 transition fill-zinc-500 group-hover:fill-sky-500" alt="" }}
                                <span class="ml-4">Follow on {{ type | title }}</span>
                            </a>
                        </li>
                    {{ /social_media:social_media }}
                    <li class="flex pt-8 mt-8 border-t border-zinc-100 dark:border-zinc-700/40">
                        <a class="flex text-sm font-medium transition group text-zinc-800 hover:text-sky-500 dark:text-zinc-200 dark:hover:text-sky-500"
                            href="mailto:hey@andrebreia.dev">
                            {{ svg src="email" class="flex-none w-6 h-6 transition fill-zinc-500 group-hover:fill-sky-500" alt="" aria-hidden="true" }}
                            <span class="ml-4">hey@andrebreia.dev</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    {{ /partial:layout/container }}
</section>
<!-- End: /page_builder/_about_me.antlers.html -->