{{#
    @name Article
    @desc The article page builder block. It extends the prose typography partial.
    @set page.page_builder.article
#}}

<!-- /page_builder/_article.antlers.html -->
<section>
    {{ partial:layout/container class="mt-16 lg:mt-32" }}
        <div class="xl:relative">
            <div class="max-w-2xl mx-auto">
                {{ if current_url | contains:articles }}
                    <a href="/articles" aria-label="Go back to articles"
                        class="group mb-8 flex h-10 w-10 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-zinc-700 dark:hover:ring-white/20 lg:absolute lg:-left-5 lg:mb-0 lg:-mt-2 xl:-top-1.5 xl:left-0 xl:mt-0">

                        <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                            class="w-4 h-4 transition stroke-zinc-500 group-hover:stroke-zinc-700 dark:stroke-zinc-500 dark:group-hover:stroke-zinc-400">
                            <path d="M7.25 11.25 3.75 8m0 0 3.5-3.25M3.75 8h8.5" strokeWidth="1.5" strokeLinecap="round"
                                strokeLinejoin="round" />
                        </svg>
                    </a>
                {{ /if }}
                <article>
                    {{ title = block:heading ? block:heading : title }}
                    {{ if title }}
                        <header>
                            {{ partial:typography/h1 :content="title" }}
                        </header>
                    {{ /if }}
                    {{ partial:typography/prose as="div" }}
                        {{ article }}
                            {{ partial src="components/{type}" }}
                        {{ /article }}
                    {{ /partial:typography/prose }}
                </article>
            </div>
        </div>
    {{ /partial:layout/container }}
</section>
<!-- End: /page_builder/_article.antlers.html -->