{{#
    @name Grouped Text
    @desc The Grouped Text page builder block.
    @set page.page_builder.grouped_text
#}}

<!-- /page_builder/_grouped_text.antlers.html -->
<section>
    {{ partial:layout/container class="mt-16 sm:mt-20" }}
        <div class="space-y-20">
            {{ grouped_text }}
                {{ partial:components/grouped_text_section :title="section_title" :id="section_title|kebab" }}
                    {{ section_items }}
                        {{ partial:components/grouped_text_section_item :title="title" :description="text" }}
                    {{ /section_items }}
                {{ /partial:components/grouped_text_section }}
            {{ /grouped_text }}
        </div>
    {{ /partial:layout/container }}
</section>
<!-- End: /page_builder/_grouped_text.antlers.html -->