{{#
    @name Photos
    @desc Display photos
    @set page.page_builder.photos
#}}

<!-- /page_builder/_photos.antlers.html -->
<section>
    <div class="mt-16 sm:mt-20">
        <div class="flex justify-center gap-5 py-4 -my-4 overflow-hidden sm:gap-8">
            {{ block:photos }}
                {{ rotate_class = index % 2 === 0
         ? '-rotate-2' : 'rotate-2' }}
                <div
                    class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl {{ rotate_class }}">
                    {{ partial:components/picture :image="url" class="absolute inset-0 object-cover w-full h-full" sizes="(min-width: 640px) 18rem, 11rem" }}
                </div>
            {{ /block:photos }}
        </div>
    </div>
</section>
<!-- End: /page_builder/_photos.antlers.html -->