{{#
    @name Articles Index
    @desc The articles index template.
#}}

<!-- /articles/index.antlers.html -->
<main id="content">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}

    {{ partial:layout/container class="mt-16 sm:mt-32" }}
        <div class="mt-16 sm:mt-20">
            {{ collection:articles as="articles" paginate="10" sort="date:desc" }}
                <div class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
                    <div class="flex flex-col max-w-3xl space-y-16">
                        {{ if no_results }}
                            <p>No articles, yet.</p>
                        {{ /if }}
                        {{ articles }}
                            {{ page_builder }}
                                <article class="md:grid md:grid-cols-4 md:items-baseline">
                                    {{ partial:components/card class="md:col-span-3" }}
                                        {{ partial:components/card_title :href="url" }}
                                            {{ title }}
                                        {{ /partial:components/card_title }}
                                        {{ partial:components/card_eyebrow class="md:hidden" as="time" decorate="true" dateTimeAttr="{{last_modified | format('Y-m-d')}}" }}
                                            {{ last_modified }}
                                        {{ /partial:components/card_eyebrow }}
                                        {{ partial:components/card_description }}
                                            {{ if type == "article" }}
                                                {{ article | raw | where('type', 'paragraph') | bard_text | entities | trim | safe_truncate(157, '...') }}
                                            {{ /if }}
                                        {{ /partial:components/card_description }}
                                        {{ partial:components/card_cta }}
                                            {{ trans:strings.read_more }}
                                        {{ /partial:components/card_cta }}
                                    {{ /partial:components/card }}
                                    {{ partial:components/card_eyebrow class="hidden mt-1 md:block" as="time" dateTimeAttr="{{last_modified | format('Y-m-d')}}" }}
                                        {{ last_modified }}
                                    {{ /partial:components/card_eyebrow }}
                                </article>
                            {{ /page_builder }}
                        {{ /articles }}
                    </div>
                </div>
            {{ /collection:articles }}
        </div>
    {{ /partial:layout/container }}
</main>